---
const { height = 32 } = Astro.props;
---
<span class="inline-flex items-center" style={`height:${height}px`}>
  <img src="/images/filigrane.png" alt="PIT.PROD" height={height} style="height:100%; width:auto" loading="eager" />
</span>



